<div
  class="relative flex flex-grow items-end justify-center p-10 sm:mr-10 md:w-1/2 lg:w-2/3"
>
  <iframe
    title="map"
    src="https://maps.google.com/maps?width=100%25&height=600&hl=en&q=%D8%AC%D8%A7%D9%85%D8%B9%D8%A9%20%D8%A7%D9%84%D9%8A%D9%85%D8%A7%D9%85%D8%A9+(hi)&t=k&z=17&ie=UTF8&iwloc=B&output=embed"
    style="filter: grayscale(1) contrast(1.2) opacity(0.4);"
    class="absolute inset-0 m-0 h-full w-full rounded-lg"
  >
  </iframe>
  <div
    class="relative flex flex-wrap rounded-xl bg-gray-400 py-4 shadow-lg dark:bg-gray-700"
  >
    <div class="px-6">
      <h2 class="text-sm font-semibold tracking-wider">Address:</h2>
      <p>Jose Mourinho - If I Speak I'm in Big Trouble</p>
    </div>
  </div>
</div>
