---
import Map from "./contact/Map.astro";
import Form from "./contact/Form.astro";
---

<section id="contactUs">
  <div class="flex w-full flex-wrap px-5 sm:flex-nowrap">
    <!-- Map -->
    <Map />
    <!-- Contact Form -->
    <Form />
  </div>
</section>
